@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
    overflow-x: clip;
  }

  img,
  video {
    max-width: 100%;
    height: auto !important;
  }
}